<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org" xmlns:xlmns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="fragments/header :: headerinc"></th:block>
</head>
<body>
<div th:include="fragments/header :: header"></div>


<h3> Search Notes</h3>

<form th:action="@{/note/searchNote}" th:object="${searchCriteria}" method="post">
    <p>Title: <input type="text" th:field="*{title}"/></p>

    <input type="submit" value="Search"/>
</form>

<div>
    <ol>
        <li th:each="note: ${notes}">
            <span th:text="${note.title}+''+${note.content}"></span>
        </li>
    </ol>
</div>

</body>
</html>