<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org" xmlns:xlmns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="fragments/header :: headerinc"></th:block>

</head>
<body>
<div th:include="fragments/header :: headerlogged"></div>

<h1 class="text-center">Notes Organizer - Spring MVC  </h1>

<div id="notesWrapper">
    <div id="notesContent">
    <li th:each="note : ${notes}">
        <p th:text="${note.title}"> Title: New note 2.0 </p>
        <p th:text="${note.content}"> Content: How about this one... huh </p>
        <a href="#" th:href="@{/note/deleteNote/} + ${note.id}">delete</a>
        <a href="#" th:href="@{/note/updateNote/} + ${note.id}">edit</a>
        <p> ------- </p>
    </li>
    </div>
    <a href="#" th:href="@{/note/addNote/}" class="text-center">Add note</a>
</div>

</body>
</html>